html {
	height: 100%;
}

body {
	background-color: #EEEEFF;
	height: 100%;
}

h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 80px;
	margin: auto;
}

.title {
	background-color: #FF8C00;
	color: #FFFFFF;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	z-index: 10;
}

.titletxt {
	position: fixed;
	top: -16px;
	left: 128px;
}
.titleimg {
	padding-left: 16px;
}

.content {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	background-color: #FFFFFF;
	position: absolute;
	padding-top: 100px;
	padding-left: 8px;
	padding-right: 8px;
	top: 0px;
	bottom: 0px;
	left: 20%;
	width: 60%;
}

.footer {
	position: absolute;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #FF8C00;
	color: #FFFFFF;
	left: 0px;
	right: 0px;
	bottom: -16px;
	z-index = 10;
}